p{
    color:red;
    font-size: 30px;
    font-weight: 700;
    /* text-decoration: line-through; */
    /* text-decoration: underline;
    text-decoration: overline;
     */
    /* text-decoration: underline wavy; */
    font-family: sans-serif;
    text-align: center;
}

a{
    text-decoration: none;
}
