body{
    background-color: #D4E0EE;
    font-family: cursive;
    text-align: center;
}


.card{
    position: absolute;
    margin: auto;
    padding: 1rem;
    padding-bottom: 3rem;
    inset: 0;
    width: 302px;
    height: 470px;
    max-width: 302px;
    background-color: white;
    box-shadow: 10px 10px 10px 10px rgba(0, 0, 0, 0.299)
}

img{
    width: 100%;
    border-radius: 10px;
}


h1{
    color: #1f3251;
}

p{
    color: hsl(220, 15%, 55%);
}















