.html{
    background-color: blue;
}

/* li{
    background-color: green;
    color: red;
}

li{
    background-color:blue;
} */
































