body{
    height: 600px;
}


.parent{
    /* width: 800px; */
    height: 50%;
    background-color: crimson;
}


/* height and width basically affects the height and width of the area */


.one{
    background-color: aquamarine;
    width: 300px;
    height: 200px;
    padding: 10px;
    /* word-break: break-all; */
     /* dont use the above property it is not good for users  */
   
}
.one-child{
    width:50%;
}
.two{
    background-color:blueviolet;
}



